<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="swagger.api.store.utilitites.ExtentReport"/>
	</listeners>
	
  <test thread-count="5" name="Test">
    <classes>
    <class name="swagger.api.store.test.StoreTest_From_PropertiesFiles"/>
    <!--  <class name="swagger.api.store.test.StoreDataDrivenTest"/>
     --> 
      <class name="swagger.api.store.test.StoreTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
